body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.inputs, .algorithm-selection {
  margin-bottom: 20px;
}

#ganttChart {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  border: 1px solid #333;
  height: 50px;
}

.gantt-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
}
